<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home Page</title>
</head>
<body>
    <h1>{{username | capfirst | truncatechars:5}}</h1>
    {% if posts %}
        <h1>All posts availabe </h1>
        <!-- <h1>Welcome: {{posts}}</h1> -->
        {% for post in posts %} 
         
            <a href="{% url 'post' post.ID %}"><h1>   {{ forloop.counter}} - {{post.Title | capfirst}}</h1></a>
            <!-- <a href="/post/{{post.ID}}/"><h1>   {{ forloop.counter}} - {{post.Title | capfirst}}</h1></a> -->
            <p>{{post.Content | truncatewords:10}}</p>
        {% endfor %}
    {% else %} 
        <h1>No post availabe</h1>
     {% endif %}

</body>
</html>